//Variables
$body-border-width: 20px;

@mixin header-line {
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    background: white;
    top: 50%;
    position: absolute;
}

@mixin header-line-mobile {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: white;
    top: 50%;
    position: absolute;
}

html * {
    color: white;
    font-weight: 200;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Roboto", sans-serif !important;
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: $body-border-width solid white;
    }
}

h2 {
    position: absolute;
    top: 40px;
    font-size: 3rem !important;
    font-weight: 200 !important;
    &.about-header {
        &::before {
            @include header-line;
            left: -53%;
        }
        &::after {
            @include header-line;
            right: -53%;
        }
    }
    &.tech-header {
        &::before {
            @include header-line;
            left: -73%;
        }
        &::after {
            @include header-line;
            right: -73%;
        }
    }
}

@media (max-width: 768px) {
    h2 {
        top: 20px;
        font-size: 2rem !important;
        &.about-header {
            &::before {
                @include header-line-mobile;
                left: -30%;
            }
            &::after {
                @include header-line-mobile;
                right: -30%;
            }
        }
        &.tech-header {
            &::before {
                @include header-line-mobile;
                left: -50%;
            }
            &::after {
                @include header-line-mobile;
                right: -50%;
            }
        }
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 200 !important;
}

@media (max-width: 768px) {
    h3 {
        font-size: 1rem !important;
    }
    p {
        font-size: 12px;
    }
}

.section-paragraph {
    position: absolute;
    top: 140px;
    max-width: 1100px;
    padding: 0 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .section-paragraph {
        top: 65px;
    }
}

/* ---- Swiper ---- */
.swiper-container {
    width: calc(100% - #{$body-border-width * 2});
    height: calc(100% - #{$body-border-width * 2});
    margin-left: auto;
    margin-right: auto;
    top: $body-border-width;
}

.swiper-pagination {
    right: 20px !important;
}

.swiper-slide {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #212128;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    border-radius: 0 !important;
    transform: rotate(45deg);
    margin: 30px 0 !important;
    background: white !important;
    &::after {
        content: "";
        position: absolute;
        border: 1px solid white;
        width: 20px;
        height: 20px;
        top: -6px;
        left: -6px;
    }
    &:focus {
        outline: none;
    }
}

.swiper-pagination-bullet-active {
    background: #13e8e9 !important;
}

/* ---- particles.js ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #212128;
}

/* ---- Rectangles ---- */
.rectangles-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 237px;
    height: 168px;
    h1 {
        font-size: 1.6rem;
        left: 50px;
        bottom: -20px;
        position: absolute;
        font-weight: 200;
    }
    span {
        color: #13e8e9;
        margin-left: -8px;
        font-size: 100px;
    }
}

.logo-block {
    position: absolute;
    width: 200px;
    height: 200px;
    &.second {
        left: 8%;
        top: -10%;
    }
    &.third {
        left: 16%;
        top: -20%;
    }
    rect {
        position: absolute;
        left: 50px;
        width: 100%;
        height: 100%;
        fill: #21212800;
        stroke: white;
        stroke-width: 5;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 1.3rem !important;
        left: 38px !important;
        bottom: 20px !important;
    }
    .rectangles-block {
        width: 191px;
    }
    .logo-block {
        width: 160px;
        height: 160px;
    }
}

/* ---- Glitch text ---- */
.glitch-container {
    position: absolute;
    left: -38%;
    top: 215px;
    width: 100% !important;
}

@media (max-width: 992px) {
    .glitch-container {
        left: -1%;
        top: 175px;
    }
}

.glitch {
    color: rgb(252, 252, 252);
    font-weight: 400;
    position: relative;
    font-size: 2rem;
    animation: glitch 5s 5s infinite;
    width: 395px;
    margin: auto;
}

@media (max-width: 992px) {
    .glitch {
        font-size: 1rem;
    }
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    overflow: hidden;
    top: 0;
    animation: noise-1 2.5s linear infinite alternate-reverse, glitch 1s 1s infinite;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 #13e8e9;
    overflow: hidden;
    top: 0;
    animation: noise-2 2.5s linear infinite alternate-reverse, glitch 1s 1s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    $steps: 30;
    @for $i from 1 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

@keyframes noise-2 {
    $steps: 30;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

/* ---- What we do ---- */
.about-section {
    position: absolute;
    padding: 0 40px !important;
    position: absolute;
    top: 300px;
}
.about-section__item {
    text-align: center;
    i {
        margin: 10px 0 30px 0;
        &::before {
            border: 2px solid #111115;
            border-radius: 50%;
            padding: 20px;
            font-size: 15px;
            padding: 10px;
        }
    }
    p {
        display: none;
    }
    &:hover {
        i {
            color: #13e8e9;
            text-shadow: 5px 5px 4px #111115;
            &::before {
                border: 2px solid #13e8e9;
                box-shadow: 5px 5px 7px #111115;
            }
        }
    }
}

@media (max-height: 650px) {
    .arrows {
        display: none;
    }
}

@media (min-width: 767px) {
    .about-section {
        top: 270px;
    }
    .about-section__item {
        p {
            display: block;
        }
        i {
            margin: 30px 0 30px 0;
            &::before {
                font-size: 2rem;
                padding: 20px;
            }
        }
    }
}

/* ---- Scroll arrow ---- */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

/* ---- Logo Section ---- */
.logo-section {
    padding: 0 45px !important;
    margin-top: 100px;
    i {
        font-size: 60px;
        transition: 0.2s;
    }
}

@media (max-width: 992px) {
    .logo-section {
        i {
            font-size: 30px;
        }
    }
}
