html * {
  color: white;
  font-weight: 200;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Roboto", sans-serif !important;
}
body::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 20px solid white;
}

h2 {
  position: absolute;
  top: 40px;
  font-size: 3rem !important;
  font-weight: 200 !important;
}
h2.about-header::before {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: white;
  top: 50%;
  position: absolute;
  left: -53%;
}
h2.about-header::after {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: white;
  top: 50%;
  position: absolute;
  right: -53%;
}
h2.tech-header::before {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: white;
  top: 50%;
  position: absolute;
  left: -73%;
}
h2.tech-header::after {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: white;
  top: 50%;
  position: absolute;
  right: -73%;
}

/* ---- Swiper ---- */
.swiper-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}

.swiper-pagination {
  right: 20px !important;
}

.swiper-slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #212128;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide p {
  position: absolute;
  top: 120px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0 40px;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  transform: rotate(45deg);
  margin: 30px 0 !important;
  background: white !important;
}
.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  top: -6px;
  left: -6px;
}
.swiper-pagination-bullet:focus {
  outline: none;
}

.swiper-pagination-bullet-active {
  background: #13e8e9 !important;
}

/* ---- particles.js ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212128;
}

/* ---- Rectangles ---- */
.rectangles-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 237px;
  height: 168px;
}
.rectangles-block h1 {
  font-size: 1.6rem;
  left: 50px;
  bottom: -20px;
  position: absolute;
  font-weight: 200;
}
.rectangles-block span {
  color: #13e8e9;
  margin-left: -8px;
  font-size: 100px;
}

.logo-block {
  position: absolute;
  width: 200px;
  height: 200px;
}
.logo-block.second {
  left: 8%;
  top: -10%;
}
.logo-block.third {
  left: 16%;
  top: -20%;
}
.logo-block rect {
  position: absolute;
  left: 50px;
  width: 100%;
  height: 100%;
  fill: #21212800;
  stroke: white;
  stroke-width: 5;
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.3rem !important;
    left: 38px !important;
    bottom: 20px !important;
  }

  .rectangles-block {
    width: 191px;
  }

  .logo-block {
    width: 160px;
    height: 160px;
  }
}
/* ---- Glitch text ---- */
.glitch-container {
  position: absolute;
  left: -38%;
  top: 215px;
  width: 100% !important;
}

@media (max-width: 992px) {
  .glitch-container {
    left: -1%;
    top: 175px;
  }
}
.glitch {
  color: #fcfcfc;
  font-weight: 400;
  position: relative;
  font-size: 2rem;
  animation: glitch 5s 5s infinite;
  width: 395px;
  margin: auto;
}

@media (max-width: 992px) {
  .glitch {
    font-size: 1rem;
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  overflow: hidden;
  top: 0;
  animation: noise-1 2.5s linear infinite alternate-reverse, glitch 1s 1s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 #13e8e9;
  overflow: hidden;
  top: 0;
  animation: noise-2 2.5s linear infinite alternate-reverse, glitch 1s 1s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(71px 0 16px 0);
  }
  6.6666666667% {
    clip-path: inset(89px 0 8px 0);
  }
  10% {
    clip-path: inset(63px 0 4px 0);
  }
  13.3333333333% {
    clip-path: inset(14px 0 78px 0);
  }
  16.6666666667% {
    clip-path: inset(27px 0 66px 0);
  }
  20% {
    clip-path: inset(3px 0 13px 0);
  }
  23.3333333333% {
    clip-path: inset(52px 0 45px 0);
  }
  26.6666666667% {
    clip-path: inset(50px 0 7px 0);
  }
  30% {
    clip-path: inset(6px 0 82px 0);
  }
  33.3333333333% {
    clip-path: inset(79px 0 9px 0);
  }
  36.6666666667% {
    clip-path: inset(29px 0 29px 0);
  }
  40% {
    clip-path: inset(27px 0 25px 0);
  }
  43.3333333333% {
    clip-path: inset(89px 0 9px 0);
  }
  46.6666666667% {
    clip-path: inset(100px 0 1px 0);
  }
  50% {
    clip-path: inset(70px 0 1px 0);
  }
  53.3333333333% {
    clip-path: inset(80px 0 21px 0);
  }
  56.6666666667% {
    clip-path: inset(35px 0 20px 0);
  }
  60% {
    clip-path: inset(84px 0 17px 0);
  }
  63.3333333333% {
    clip-path: inset(58px 0 38px 0);
  }
  66.6666666667% {
    clip-path: inset(35px 0 58px 0);
  }
  70% {
    clip-path: inset(46px 0 1px 0);
  }
  73.3333333333% {
    clip-path: inset(79px 0 1px 0);
  }
  76.6666666667% {
    clip-path: inset(74px 0 9px 0);
  }
  80% {
    clip-path: inset(14px 0 25px 0);
  }
  83.3333333333% {
    clip-path: inset(25px 0 17px 0);
  }
  86.6666666667% {
    clip-path: inset(45px 0 31px 0);
  }
  90% {
    clip-path: inset(25px 0 4px 0);
  }
  93.3333333333% {
    clip-path: inset(90px 0 9px 0);
  }
  96.6666666667% {
    clip-path: inset(17px 0 1px 0);
  }
  100% {
    clip-path: inset(2px 0 49px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(13px 0 68px 0);
  }
  3.3333333333% {
    clip-path: inset(67px 0 3px 0);
  }
  6.6666666667% {
    clip-path: inset(86px 0 14px 0);
  }
  10% {
    clip-path: inset(84px 0 4px 0);
  }
  13.3333333333% {
    clip-path: inset(26px 0 19px 0);
  }
  16.6666666667% {
    clip-path: inset(33px 0 68px 0);
  }
  20% {
    clip-path: inset(24px 0 13px 0);
  }
  23.3333333333% {
    clip-path: inset(26px 0 52px 0);
  }
  26.6666666667% {
    clip-path: inset(87px 0 11px 0);
  }
  30% {
    clip-path: inset(31px 0 42px 0);
  }
  33.3333333333% {
    clip-path: inset(76px 0 18px 0);
  }
  36.6666666667% {
    clip-path: inset(60px 0 37px 0);
  }
  40% {
    clip-path: inset(98px 0 1px 0);
  }
  43.3333333333% {
    clip-path: inset(38px 0 15px 0);
  }
  46.6666666667% {
    clip-path: inset(57px 0 17px 0);
  }
  50% {
    clip-path: inset(82px 0 19px 0);
  }
  53.3333333333% {
    clip-path: inset(6px 0 82px 0);
  }
  56.6666666667% {
    clip-path: inset(95px 0 3px 0);
  }
  60% {
    clip-path: inset(98px 0 3px 0);
  }
  63.3333333333% {
    clip-path: inset(59px 0 10px 0);
  }
  66.6666666667% {
    clip-path: inset(96px 0 3px 0);
  }
  70% {
    clip-path: inset(13px 0 13px 0);
  }
  73.3333333333% {
    clip-path: inset(2px 0 44px 0);
  }
  76.6666666667% {
    clip-path: inset(40px 0 55px 0);
  }
  80% {
    clip-path: inset(9px 0 72px 0);
  }
  83.3333333333% {
    clip-path: inset(37px 0 8px 0);
  }
  86.6666666667% {
    clip-path: inset(28px 0 4px 0);
  }
  90% {
    clip-path: inset(100px 0 1px 0);
  }
  93.3333333333% {
    clip-path: inset(52px 0 27px 0);
  }
  96.6666666667% {
    clip-path: inset(25px 0 15px 0);
  }
  100% {
    clip-path: inset(86px 0 2px 0);
  }
}
/* ---- Scroll arrow ---- */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

/* ---- amcharts ---- */
#chartdiv {
  width: 100%;
  height: 470px;
  max-width: 100%;
}
#chartdiv tspan {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
